@import "./styles/instruction-markers.css";
@import "./styles/dropdown.css";
@import "./styles/animations.css";
@import "./styles/text.css";
@import "./styles/timeline-container.css";
@import "./styles/global.css";

#timeline-container,
#react-overlay-root,
#visibility-toggler {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

#timeline-container,
#react-overlay-root,
#visibility-toggler {
  all: initial;

  display: block;
  box-sizing: border-box;
  position: relative;
  z-index: 9999;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: theme("colors.foreground");
  background: theme("colors.background");

  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

#timeline-container {
  user-select: none;
}

#timeline-container *,
#visibility-toggler *,
#react-overlay-root * {
  box-sizing: border-box;
}

#timeline-container button,
#visibility-toggler button,
#react-overlay-root button {
  background-color: transparent;
  color: theme("colors.foreground");
  font-weight: 500;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: none;
  box-shadow: none !important;
  outline: none;
}

#timeline-container button:hover,
#visibility-toggler button:hover,
#react-overlay-root button:hover {
  background-color: rgb(255 255 255 / 0.1);
}
